.bar_searchButton{
    border-color: lightgray;
    background-color: white;
    color: rgb(247, 106, 129);
    /* color: white; */
    text-transform: inherit;
    /* border-radius: 50px; */
    padding: 8px;
    /* margin-top: 20px; */
    font-weight:750;

}

.bar_searchButton:hover{
    transition-duration: 500ms;
    transition-delay: 100ms;
    color: rgb(45, 123, 233);
    background-color: rgb(247, 106, 129);
    /* color: white; */
    /* text-transform: inherit; */
    text:bold;
    /* border-radius: 50px; */
    padding: 8px;
    /* margin-top: 20px; */
    font-weight:750;

}