.banner{
 
    height: 50vh;
}

.banner-img{
    background: url(https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg) center;
    height: 75vh;
    position: relative;
    margin-top: 3.5%;
    margin-left: 20%;
    
}
.banner_info{
    position: fixed;
    margin-left: -11%;
     margin-top: 7%; 
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 10vh;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 8vh;
    width: 25%; 
    border-radius: 10mm;

}

.banner_info > button{
    background-color: rgb(106, 118, 247);
    color: white;
    text-transform: inherit;
    border-radius: 50px;
    padding: 8px;
    margin-top: 20px;
    font-weight:600;
}

.banner_info > h4{
    margin-top: 5px; 

}

.banner_info > button:hover{
    background-color: white;
    color: rgb(247, 106, 129);
}

.banner_search{
    
    display:flex;
    flex-direction:column ;
}
.banner_searchButton{
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(247, 106, 129);
    /* color: white; */
    text-transform: inherit;
    /* border-radius: 50px; */
    padding: 8px;
    /* margin-top: 20px; */
    font-weight:750;

}

.banner_searchButton:hover{
    transition-duration: 500ms;
    transition-delay: 100ms;
    color: white;
    background-color: rgb(247, 106, 129);
    /* color: white; */
    text-transform: inherit;
    text:bold;
    /* border-radius: 50px; */
    padding: 8px;
    /* margin-top: 20px; */
    font-weight:750;

}