.searchdiv{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    text-align: center;
    padding: 2vh 0vh 2vh 2vh;
    justify-content: space-between;
}
 .search_bar{
    position: relative;
    margin:0.5vw;
    display:flex;
    flex:1; 
    text-align: center;
    vertical-align: middle;
    align-items: center;
    max-width: fit-content;
    border: solid #d3d3d3;
    border-radius: 999px;
    padding:1vw;
 } 
.search_bar > input{
border: 0;
outline: 0;
background: none;
} 

.searchdiv{ 
    display: flex;
    align-items: center;

     background-color: rgb(255, 255, 255);
}

.searchdiv > searchdt{
     /* border: #4b3232 2px;  */
  color:rgb(184, 153, 153);
    background-color: rgb(57, 75, 212);
position:absolute;
max-width: fit-content;
/* margin-left: 10vw; */

}
/* .search > button:hover{ */
    /* border: #852d2d 2px; */
/*    background-color:rgb(255, 255, 255);
    color: rgb(57, 75, 212);
} */
.adultCount{
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
    padding: 1vw 2vw 1vw 2vw ;
    /* margin: 5px 0 5px 0; */
    background-color: darkgray;
    border-radius: 2mm 0mm 0mm 2mm;
    font-weight: 500;
}