.loginPage{
    background: url('./images/Login-bg.jpg');
    display:flex;
    background-size: cover;
    height:100vh;

}
.header{
    /* height: 8vh;
    background-color: rgb(255, 255, 255) ;
    border-radius: 15px; */
    /* From https://css.glass */
    height: 9vh;
background: rgba(255, 112, 2, 0.708);
border-radius: 0px 0px 15px 15px;
box-shadow: 5px 10px 150px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18.9px);
-webkit-backdrop-filter: blur(18.9px);
border: 1px solid rgb(195, 195, 195);
}

.header_center > input{
    background-color: rgb(255, 255, 255);
}

.inner_box{
    display:flex;
    position:absolute;
    margin-top: 10vw;
    margin-left: 20%;
    width: 60vw;
    /* width:75vw; */
    background: url('./images/innerBox.jpg') center center;
    background-size: cover;
    /* background-color: black; */
    /* color: white; */
    /* width: 60%; */
    height: 77vh;
    border-radius: 5mm;
    
}

.login_box{
        background-color: rgb(255, 255, 255);
        border-radius: 1vw;
        position:absolute;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        /* padding: 13vw 4vw 10vw; */
        margin-top: 5vh;
        margin-left: 28vw;
        padding: 20vh 5vw 10vh 5vw;
        /* margin */
        width: 33vw;
        box-shadow: 2px 2px 2px 1px rgba(92, 90, 90, 0.478), -1px -1px 2px 1px rgba(74, 75, 74, 0.451);
    }

    .login_box >input {
        font-size: large;
        font-weight: 500;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande' ;
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid rgb(93, 90, 90);
        }
    
          .login_box > button{
    background-color: rgb(60, 120, 233);
    color: white;
    text-transform: inherit;
    border-radius: 2.5vw;
    padding: 8px;
    margin-top: 20px;
    font-weight:600;
}

.login_box > button:hover{
    background-color: white;
    color: rgb(60, 120, 233);
    border:1px;
    border-color: rgb(60, 120, 233);
}
